.details-container {
  width: auto;
  height: auto;
  border: 2px solid #76deff;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.vechile-details-container {
  width: auto;
  height: auto;
  border: 2px solid #76deff;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.garage-details-container {
  width: auto;
  height: auto;
  border: 2px solid #76deff;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.button-div {
  display: flex;
  align-items: flex-start;
}
.button-div Button {
  background: #0c6066;
}
.table-div-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #76deff;
}
.table-details-container {
  width: 100%;
  height: 100%;
  border: 1px solid #76deff;
  font-size: 15px;
  border-collapse: separate;
  border-spacing: 0 1em;
}
.table-details-container tr td {
  border: 1px solid #4c9ac6;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.table-header {
  background: #00a8b4;
}
.table-details-container tr td:nth-child(2) {
  background: #00a3ff2b;
}
.col:first-child {
  width: 150px;
  height: 50%;
  border: 2px solid #76deff;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: left;
}
.col h4 {
  font-weight: 700;
  font-size: 19px;
  color: #1c4274;
}
.amount-container {
  margin-left: auto;
}
.amount-container tr td {
  border: 2px solid #76deff;
}

.amount-container td:first-child {
  background: #d4f0ff;
  width: 300px;
  text-align: left;
}
